* {
  background-color: #000;
  color: #FFFFFF;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio{
  min-width: 12px;
  margin: 0 1px;
}

#tray {
  margin-right: 16px;
}

#custom-expand-icon {
  margin-right: 15px;
}

#bluetooth {
  margin-right: 15px;
}

#pulseaudio{
  margin-right: 10px;
}

#cpu{
  margin-right: 15px;
}

#network {
  margin-right: 18px;
}

#battery{
  margin-right: 10px;
}

#power-profiles-daemon{
  margin-right: 5px;
}

tooltip {
  padding: 2px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

